<section id="labels" ng-controller="LabelController">
  <header>
    <input type="checkbox" ng-model="checked" ng-change="doneLabel(checked)"/>
    <h1>{{lang.labels}}</h1>
  </header>
  <form ng-submit="addLabel()">
    <input type="text" ng-model="labelName" placeholder="{{lang.newLabel}}">
    <button type="submit">{{lang.submitLabel}}</button>
  </form>
  <div>
    <ul>
        <li ng-repeat="label in labels" ng-class="{selected: label.id === selected.label, checked: label.done}">
          <input type="checkbox" ng-model="label.done" />
          <span ng-click="selectLabel(label.id)">{{label.name}}</span>
          <button type="button" class="delete" ng-click="deleteLabel(label.id)"></button>
        </li>
    </ul>
  </div>
</section>
