<section id="versions" ng-controller="VersionController">
  <header>
    <input type="checkbox" ng-model="checked" ng-change="doneVersion(checked)"/>
    <h1><span class="text">{{lang.versions}}</span></h1>
  </header>
  <form ng-submit="addVersion()">
    <input type="text" ng-model="versionNumber" placeholder="{{lang.newVersion}}">
  </form>
  <div>
    <ul>
        <li ng-repeat="version in versions" ng-click="selectVersion(version.id)" ng-class="{selected: version.id === selected.version, checked: version.done}">
          <input type="checkbox" ng-model="version.done" stop-click />
          <span class="text">{{version.number}}</span>
          <button type="button" class="delete" ng-click="deleteVersion(version.id)"></button>
        </li>
    </ul>
  </div>
</section>
