/* - --------------------------------------------------------- - */
/* - --------------------------------------------------------- - */
/* - browser support - */
aside,
main {
  display: none;
}
p {
  display: block;
  padding: 10px;
}
html.js.localstorage.applicationcache.svg.inlinesvg p {
  display: none;
}
html.js.localstorage.applicationcache.svg.inlinesvg aside,
html.js.localstorage.applicationcache.svg.inlinesvg main {
  display: block;
}
/* - --------------------------------------------------------- - */
/* - globals - */
* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
  font-family: 'Segoe UI Light', sans-serif;
  color: #000000;
}
/* - --------------------------------------------------------- - */
/* - app layout - */
html,
body {
  height: 100%;
  background-color: #dddddd;
}
@media (min-width: 768px) {
  html aside,
  body aside {
    float: left;
    height: 100%;
    width: 30%;
    border-right: 1px solid #cccccc;
  }
  html aside section,
  body aside section {
    height: 50%;
  }
  html main,
  body main {
    float: left;
    height: 100%;
    width: 70%;
  }
  html main section,
  body main section {
    height: 100%;
  }
}
@media (min-width: 768px) and (min-width: 1024px) {
  html aside,
  body aside {
    width: 25%;
  }
}
@media (min-width: 768px) and (min-width: 1280px) {
  html aside,
  body aside {
    width: 20%;
  }
}
@media (min-width: 768px) and (min-width: 1024px) {
  html main,
  body main {
    width: 75%;
  }
}
@media (min-width: 768px) and (min-width: 1280px) {
  html main,
  body main {
    width: 80%;
  }
}
/* - --------------------------------------------------------- - */
/* - section layout - */
section {
  background-color: #dddddd;
  position: relative;
}
section form,
section header {
  position: absolute;
  left: 0px;
  right: 0px;
  height: 36px;
}
section form {
  top: 36px;
}
section h1 span.text {
  color: #ffffff;
  background-color: #003e00;
}
section div {
  height: 100%;
  padding-top: 72px;
}
/* - --------------------------------------------------------- - */
/* - form styles - */
button[type=submit] {
  display: none;
}
input[type=text] {
  border: none;
  font-size: 14px;
  letter-spacing: 1px;
  display: block;
  padding: 10px;
  width: 100%;
  -webkit-appearance: none;
  border-radius: 0px;
}
input[type=checkbox] {
  position: absolute;
  top: 12px;
  left: 10px;
  -webkit-appearance: none;
  width: 12px;
  height: 12px;
  background-color: #ffffff;
  border-radius: 2px;
}
input[type=checkbox]:checked {
  background-color: #333333;
}
span.text {
  padding: 10px 10px 10px 30px;
  font-size: 14px;
  font-weight: normal;
  letter-spacing: 1px;
  display: block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
/* - --------------------------------------------------------- - */
/* - list styles - */
ul {
  height: 100%;
  overflow: auto;
  list-style-type: none;
  border-top: 1px solid #cccccc;
}
ul li {
  position: relative;
  border-bottom: 1px solid #ffffff;
}
ul li button {
  position: absolute;
  right: 10px;
  top: 5px;
  width: 26px;
  height: 26px;
  background-color: #bbbbbb;
  border: none;
  border-radius: 3px;
  display: none;
}
ul li button.delete {
  background-image: url(../img/trash-16.png);
  background-repeat: no-repeat;
  background-position: center center;
}
ul li.checked span {
  text-decoration: line-through;
}
ul li.selected {
  padding-right: 36px;
  background-color: #cccccc;
  font-weight: bold;
}
ul li.selected button {
  display: block;
}
/* - --------------------------------------------------------- - */
